@mixin bkg($i) {
  &:nth-child(#{$i}) {
    background: url("/pctrs/li_#{$i}.png") left top no-repeat;
  }
}


.section-about {
  h1 {
    background-image: url("/pctrs/h1_about.png");
  }
  .content {
    width: 100%;
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    @include media-less-than($sm-width) {
      margin-top: 40px;
    }
    li {
      display: block;
      min-height: 90px;
      @include media-more-than($sm-width) {
        width: 50%;
        float: left;
        padding: 0 120px 40px 80px;
      }
      @include media-less-than($sm-width) {
        padding: 15px 20px 40px 80px;
      }
      @include bkg(1);
      @include bkg(2);
      @include bkg(3);
      @include bkg(4);
    }
  }
}

