@import "ReactDayPicker";

.calendar {
  position: relative;
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #000000;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center;
  }
  h1 {
    background-image: url("/pctrs/h1_calendar.png");
    top: 2%;
    @include media-less-than($sm-width) {
      background-size: 90% auto;
    }
  }
  .content {
    width: 100%;
    padding: 0 15px;
  }
  .Calendar-content {
    @include media-less-than($md-width) {
      margin-top: 140px;
    }
    @include media-less-than($sm-width) {
      margin-top: 20px;
    }
  }
  .left, .right {
    position: relative;
    height: 430px;
    .loader {
      color: #fff;
    }
  }
  .left {
    @include media-less-than($lg-width) {
      float: none;
      width: 100%;
      text-align: center;
    }
    @include media-more-than($lg-width) {
      float: left;
      width: 370px;
    }
  }
  .right {
    @include media-less-than($lg-width) {
      float: none;
      width: 100%;
      padding-top: 20px;
    }
    @include media-more-than($lg-width) {
      float: right;
      width: calc(100% - 370px);
    }
  }
  .DayPicker, .DayPicker-Month {
    @include media-less-than($lg-width) {
      width: 80%;
      margin: 20px auto;
    }
    @include media-more-than($lg-width) {
      width: 370px;
    }
    font-family: 'PT Sans';
    font-size: 22px;
  }
  .DayPicker-Caption {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 1rem;
    div {
      font-size: 26px;
    }
  }
  .DayPicker-Weekdays {
    border-top: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
    text-transform: uppercase;
    font-size: 26px;
  }
  .DayPicker-Weekday {
    padding: 15px 0.5rem;
    &:last-child, &:nth-last-child(2) {
      color: #8c5555;
    }
  }
  .DayPicker-WeekdaysRow {
  }
  .DayPicker-Day {
    font-size: 26px;
  }
  .DayPicker-Day--selected, .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    border: none;
    border-radius: 0;
    background: linear-gradient(to bottom right, #ffffff 0%, #c00404 25%, #c00404 100%);
  }
  .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    border-radius: 0;
    background-color: #7b7b7b;
  }
  .Events {
    width: 100%;
    font-family: 'PT Sans';
    @include media-more-than($lg-width) {
      padding-left: 45px;
    }

  }
  .Events-row {
    display: table;
    table-layout:fixed;
    width: 100%;
    padding-bottom: 5px;
    position: relative;
    &:hover {
      .Events-spacer {
        &:after {
          left: 0;
          border-left-color: #c00404;
        }
      }
      .Events-info, .Events-button {
        background-color: #ffffff;
      }
    }
    &.Events-Orthos {
      .Events-date {
        background-color: #7b7b7b;
      }
      &:hover {
        .Events-spacer {
          &:after {
            left: 0;
            border-left-color: #7b7b7b;
          }
        }
      }
    }
  }

  .Events-date {
    display: table-cell;
    height: 95px;
    background-color: #c00404;
    vertical-align: middle;
    text-align: center;
    @include respond-to(xs-screens) {
      width: 40px;
      font-size: 20px;
    }
    @include respond-to(sm-screens) {
      width: 70px;
      font-size: 22px;
    }
    @include respond-to(md-screens) {
      width: 100px;
      font-size: 26px;
    }
    @include respond-to(lg-screens) {
      width: 100px;
      font-size: 26px;
    }
  }
  .Events-spacer {
    display: table-cell;
    position: relative;
    height: 95px;
    @include respond-to(xs-screens) {
      width: 5px;
    }
    @include respond-to(sm-screens) {
      width: 15px;
    }
    @include respond-to(md-screens) {
      width: 25px;
    }
    @include respond-to(lg-screens) {
      width: 25px;
    }
    &:after {
      position: absolute;
      content: '';
      border: 23px solid transparent;
      left: -48px;
      top: 50%;
      margin-top: -24px;
      @include my-transition(all, .2s, ease-out);
      transform: scaleY(0.5);
      @include media-less-than($sm-width) {
        display: none;
      }
    }
  }
  .Events-info {
    position: absolute;
    display: table-cell;
    padding: 8px;
    //width: calc(100% - 125px);
    height: 95px;
    background-color: #dddddd;
    color: #000;
    text-align: left;
    overflow: hidden;
    @include respond-to(xs-screens) {
      width: calc(100% - 145px);
    }
    @include respond-to(sm-screens) {
      width: calc(100% - 270px);
    }
    @include respond-to(md-screens) {
      width: calc(100% - 290px);
    }
    @include respond-to(lg-screens) {
      width: calc(100% - 290px);
    }
    a {
      color: #000;
    }
    .Events-info-title {
      font-family: "PT Sans";
      text-transform: uppercase;
      font-weight: 600;
      font-stretch: extra-condensed;
      line-height: 1;
      @include respond-to(xs-screens) {
        font-size: 18px;
      }
      @include respond-to(sm-screens) {
        font-size: 20px;
      }
      @include respond-to(md-screens) {
        font-size: 20px;
      }
      @include respond-to(lg-screens) {
        font-size: 20px;
      }
    }
    .Events-info-lid {
      margin-top: 5px;
      line-height: 0.95;
    }
    .Events-info-content {
      max-height: 75px;
      overflow: hidden;
    }
  }
  .Events-button {
    display: table-cell;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    background-color: #dddddd;
    @include media-less-than($sm-width) {
      width: 100px;
    }
    button {
      width: 160px;
      height: 40px;
      background-color: #c00404;
      font-family: "PT Sans";
      font-size: 22px;
      color: #fff;
      border: none;
      @include media-less-than($sm-width) {
        width: 92px;
        height: 34px;
        font-size: 16px;
      }
    }
  }
}