.contacts {
  background-image: url("/pctrs/contacts_bgr.png");
  background-repeat: no-repeat;
  background-position: right 4% bottom 6%;
  background-size: 42% auto;
  h1 {
    background-image: url("/pctrs/h1_contacts.png");
  }
  .content {
    width: 100%;
    padding: 0 30px;
  }
  .left, .right {
    @include media-less-than($sm-width) {
      float: none;
    }
    @include media-more-than($sm-width) {
      float: left;
    }
    font-family: "PT Sans Narrow";
  }
  .left {
    @include media-less-than($md-width) {
      width: 100%;
    }
    @include media-more-than($md-width) {
      width: 45%;
    }
    font-size: 24px;
    line-height: 1.2;
    padding-top: 40px;
    .head {
      font-size: 28px;
      font-weight: 700;
    }
  }
  .right {
    @include media-less-than($md-width) {
      width: 100%;
    }
    @include media-more-than($md-width) {
      width: 55%;
    }
    display: table;
    background: url('/pctrs/contacts_email_bgr.png') left top no-repeat;
    padding: 40px 0 90px 130px;
    @include media-less-than($sm-width) {
      padding: 40px 0 90px 20px;
    }
  }
  .form-email, .form-submit {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px;
  }
  .form-email {
    width: 65%;
    padding-right: 15px;
    input {
      width: 90%;
      background: none;
      border: none;
      border-bottom: solid 1px #fff;
      padding: 10px 10px 10px 15px;
      font-family: Roboto;
      font-size: 20px;
      color: #fff;
    }
  }
  .form-submit {
    width: 35%;
    text-align: center;
    button {
      border: none;
      padding: 10px 25px;
      font: 500 22px 'PT Sans Narrow';
      text-transform: uppercase;
      color: #fff;
      background-color: #be0503;
      outline: none;
      &:disabled {
        background-color: #dadada;
      }
    }
  }
}