.ReactModal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  background-color: #ffffff;
  width: 90%;
  max-width: 900px;
  padding: 25px;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
  @include media-less-than($md-width) {
    left: 5%;
  }
  @include media-more-than($md-width) {
    left: 50%;
    margin-left: -450px;
  }
}

.ReactModal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.ModalContent {
  position: relative;
  color: #000;
  height: 100%;
  overflow: hidden;
  @include media-less-than($sm-width) {
    overflow: auto;
  }
  .slick-track {
    transition: transform 600ms ease;
  }
}
.ModalContent-close {
  position: absolute;
  top: -8px;
  right: -2px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  //transform: scale3d(1.2, 1, 1);
  background: transparent;
}
.ModalContent-wrapper {
  position: relative;
}
.ModalContent-content {
  position: relative;
  //min-height: 400px;
  height: 500px;
  overflow-y: auto;
  @include media-less-than($sm-width) {
    height: auto;
  }
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #000000;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center;
  }
}
.ModalContent-header {
  width: 100%;
  background-color: #e9e9e9;
  padding: 25px 35px;
  font: 700 30px/1.1 'PT Sans Narrow';
  text-transform: uppercase;
  display: table;
  @include media-less-than($sm-width) {
    display: block;
    font: 700 24px/1.1 'PT Sans Narrow';
  }
  .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    @include media-less-than($sm-width) {
      display: block;
      width: 100%;
    }
  }
  .right {
    display: table-cell;
    width: 30%;
    text-align: center;
    vertical-align: middle;
    @include media-less-than($sm-width) {
      display: block;
      width: 100%;
      padding-top: 15px;
    }
  }
  .date {
    display: inline-block;
    margin-right: 10px;
    font-size: 48px;
    color: #be0503;
    @include media-less-than($sm-width) {
      font-size: 32px;
    }
  }
  button {
    border: none;
    min-width: 160px;
    padding: 12px 25px;
    font: 500 20px 'PT Sans';
    color: #fff;
    background-color: #be0503;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.ModalContent-info {
  padding: 25px 0;
  .main-image {
    @include media-less-than($sm-width) {
      display: none;
    }
    @include media-more-than($sm-width) {
      float: right;
      margin: 0 0 15px 15px;
    }

  }
  .item-row {
    margin-bottom: 15px;
    label {
      display: inline-block;
      margin-right: 10px;
      font: 700 30px 'PT Sans Narrow';
      text-transform: uppercase;
      &.wrapit {
        display: block;
      }
    }
  }
}
.ModalContent-form {
  text-align: center;
  font: 400 18px/1.1 'PT Sans Narrow';
  .form-row {
    width: 405px;
    margin: 0 auto 15px auto;
    text-align: left;
    @include media-less-than($sm-width) {
      width: 100%;
    }
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=email] {
    width: 100%;
    padding: 18px 15px;
    color: #777777;
    background-color: #e9e9e9;
    border: solid 1px #dadada;
    font: 400 18px 'Roboto';
    @include media-less-than($sm-width) {
      width: 97%;
      padding: 15px;
      font: 400 16px 'Roboto';
    }
  }
  .check-box {
    overflow: auto;
    input[type=checkbox] {
      float: left;
    }
    label {
      display: inline-block;
      float: left;
      width: 80%;
      margin-left: 10px;
    }
  }
  button.submit {
    display: inline-block;
    border: none;
    min-width: 160px;
    padding: 12px 25px;
    margin: 0 auto;
    font: 500 20px 'PT Sans';
    color: #fff;
    background-color: #be0503;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    &:disabled {
      background-color: #dadada;
    }
  }
  .has-error {
    border: solid 1px rgba(255, 0, 0, 0.2) !important;
  }
  .formWrapper {
    position: relative;
    padding: 25px;
    &.alerted {
      .overlay {
        display: block;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: none;
    }
    .loader, .alert {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100px;
      height: 100px;
      margin: -50px 0 0 -50px;
      color: #ffffff;
      z-index: 1;
      font-size: 32px;
    }
    .alert {
      font-size: 16px;
      min-width: 350px;
      //height: 150px;
      height: auto;
      margin: -100px 0 0 -165px;
      font-family: 'Roboto';
      .alert-wrapper {
        position: relative;
      }
      .alert-close {
        position: absolute;
        right: -10px;
        top: -10px;
        border: none;
        background: none;
        font: 700 20px 'PT Sans';
        transform: scale(1, 0.8);
        color: #662222;
      }
      h4 {
        margin: 0 0 10px 0;
        font-weight: bold;
      }
      .msg, .err {
        text-align: left;
      }
      .err {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.4;
        list-style: circle;
        padding-left: 15px;
        strong {
          font-weight: 700;
        }
      }
    }
  }
}
.ModalSubscribe-content {
  position: absolute;
  width: 80%;
  padding: 50px 15px;
  left: 10%;
  top: 50%;
  transform: translate(0, -125px);
  .loader {
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center;
  }
  .alert-wrapper {
    position: relative;
  }
  .alert-close {
    position: absolute;
    right: -10px;
    top: -10px;
    border: none;
    background: none;
    font: 700 20px 'PT Sans';
    transform: scale(1, 0.8);
    color: #662222;
  }
  h4 {
    margin: 0 0 10px 0;
    font-weight: bold;
  }
  .msg, .err {
    text-align: left;
  }
  .err {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    list-style: circle;
    padding-left: 15px;
    strong {
      font-weight: 700;
    }
  }
}
