/* Breakpoints */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.hidden {
  display: none !important; }

.visible {
  display: block !important; }

.invisible {
  visibility: hidden; }

.full-width {
  width: 100%; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

@media (max-width: 480px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 481px) {
  .hidden-xs {
    display: block; } }

@media (max-width: 480px) {
  .visible-xs {
    display: block; } }

@media (min-width: 481px) {
  .visible-xs {
    display: none; } }

@media (max-width: 768px) {
  .visible-sm {
    display: block; } }

@media (min-width: 769px) {
  .visible-sm {
    display: none; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input {
  outline: none; }

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: url("/pctrs/background.jpg") no-repeat center center/cover fixed; }

.App > div {
  text-align: center; }

header, section {
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 50px; }
  @media only screen and (min-width: 768px) {
    header, section {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; } }
  header .content, section .content {
    font-family: 'Roboto', sans-serif; }
    @media only screen and (min-width: 768px) {
      header .content, section .content {
        display: table-cell;
        vertical-align: middle; } }
  header h1, section h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent; }
    @media only screen and (min-width: 768px) {
      header h1, section h1 {
        position: absolute;
        top: 50px;
        left: 0;
        min-width: 500px;
        min-height: 70px; } }
    header h1:after, section h1:after {
      content: '';
      display: block;
      border-bottom: solid 5px #fff;
      margin: 65px auto 0 auto; }
      @media only screen and (max-width: 769px) {
        header h1:after, section h1:after {
          width: 80%; } }
      @media only screen and (min-width: 768px) {
        header h1:after, section h1:after {
          width: 208px; } }

section {
  max-width: 1500px;
  margin: 0 auto;
  text-align: left; }

.align-center {
  text-align: center !important; }

/* Helpers */
/* alerts */
.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 6px; }
  .alert h4 {
    margin-top: 0;
    color: inherit;
    font-size: 120%; }
  .alert .alert-link {
    font-weight: 300; }
  .alert > p {
    margin-bottom: 0; }
  .alert > ul {
    margin-bottom: 0; }

.alert-success {
  background-color: #dff0d8;
  border: solid 1px #3b6533;
  color: #3c763d !important; }

.alert-info {
  background-color: #31708f;
  border: solid 1px #c4ebf3;
  color: #d9edf7; }

.alert-warning {
  background-color: #fcf8e3;
  border: solid 1px #faebcc;
  color: #8a6d3b; }

.alert-danger {
  background-color: #f2dede;
  border: solid 1px #ebccd1;
  color: #a94442 !important; }

.alert-success-button {
  margin: 10px auto 5px auto;
  border: none;
  padding: 6px 12px;
  font: 500 14px 'PT Sans';
  color: #fff;
  background-color: #be0503;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.section-about h1 {
  background-image: url("/pctrs/h1_about.png"); }

.section-about .content {
  width: 100%;
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto; }

.section-about ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px; }
  @media only screen and (max-width: 769px) {
    .section-about ul {
      margin-top: 40px; } }
  .section-about ul li {
    display: block;
    min-height: 90px; }
    @media only screen and (min-width: 768px) {
      .section-about ul li {
        width: 50%;
        float: left;
        padding: 0 120px 40px 80px; } }
    @media only screen and (max-width: 769px) {
      .section-about ul li {
        padding: 15px 20px 40px 80px; } }
    .section-about ul li:nth-child(1) {
      background: url("/pctrs/li_1.png") left top no-repeat; }
    .section-about ul li:nth-child(2) {
      background: url("/pctrs/li_2.png") left top no-repeat; }
    .section-about ul li:nth-child(3) {
      background: url("/pctrs/li_3.png") left top no-repeat; }
    .section-about ul li:nth-child(4) {
      background: url("/pctrs/li_4.png") left top no-repeat; }

/* DayPicker styles */
.DayPicker {
  display: inline-block; }

.DayPicker-wrapper {
  position: relative;
  user-select: none;
  padding-bottom: 1rem;
  flex-direction: row;
  background: linear-gradient(to bottom right, black, #757575); }

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.DayPicker-Month {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0 1rem;
  margin-top: 1rem; }

.DayPicker-NavButton {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  right: 1.5rem;
  margin-top: 2px;
  color: #8b9898;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }
  .DayPicker-NavButton:hover {
    opacity: 0.8; }

.DayPicker-NavButton--prev {
  margin-right: 1.5rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC"); }

.DayPicker-NavButton--next {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg=="); }

.DayPicker-NavButton--interactionDisabled {
  display: none; }

.DayPicker-Caption {
  padding: 0 0.5rem;
  display: table-caption;
  text-align: left;
  margin-bottom: 0.5rem; }

.DayPicker-Caption > div {
  font-size: 1.15rem;
  font-weight: 500; }

.DayPicker-Weekdays {
  margin-top: 1rem;
  display: table-header-group; }

.DayPicker-WeekdaysRow {
  display: table-row; }

.DayPicker-Weekday {
  display: table-cell;
  padding: 0.5rem;
  font-size: 0.875em;
  text-align: center;
  color: #8b9898; }

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none; }

.DayPicker-Body {
  display: table-row-group; }

.DayPicker-Week {
  display: table-row; }

.DayPicker-Day {
  display: table-cell;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  outline: none; }

.DayPicker-WeekNumber {
  display: table-cell;
  padding: 0.5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
  border-right: 1px solid #eaecec; }

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default; }

.DayPicker-Footer {
  padding-top: 0.5rem; }

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: #4a90e2;
  font-size: 0.875em; }

/* Default modifiers */
.DayPicker-Day--today {
  font-weight: 700;
  border: solid 1px dimgray;
  background: linear-gradient(to bottom right, #c3c3c3 0%, #a8a8a8 20%, #7b7b7b 100%);
  text-decoration: underline; }

.DayPicker-Day--outside {
  cursor: default;
  color: #8b9898; }

.DayPicker-Day--disabled {
  color: #dce0e0;
  cursor: default;
  /* background-color: #eff1f1; */ }

/* Example modifiers */
.DayPicker-Day--sunday {
  background-color: #f7f8f8; }

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  position: relative;
  color: #f0f8ff;
  background-color: #4a90e2;
  border-radius: 100%; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #51a0fa; }

.DayPicker:not(.DayPicker--interactionDisabled)
.DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff;
  border-radius: 50%; }

/* DayPickerInput */
.DayPickerInput {
  display: inline-block; }

.DayPickerInput-OverlayWrapper {
  position: relative; }

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }

.calendar {
  position: relative; }
  .calendar .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #000000;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center; }
  .calendar h1 {
    background-image: url("/pctrs/h1_calendar.png");
    top: 2%; }
    @media only screen and (max-width: 769px) {
      .calendar h1 {
        background-size: 90% auto; } }
  .calendar .content {
    width: 100%;
    padding: 0 15px; }
  @media only screen and (max-width: 993px) {
    .calendar .Calendar-content {
      margin-top: 140px; } }
  @media only screen and (max-width: 769px) {
    .calendar .Calendar-content {
      margin-top: 20px; } }
  .calendar .left, .calendar .right {
    position: relative;
    height: 430px; }
    .calendar .left .loader, .calendar .right .loader {
      color: #fff; }
  @media only screen and (max-width: 1201px) {
    .calendar .left {
      float: none;
      width: 100%;
      text-align: center; } }
  @media only screen and (min-width: 1200px) {
    .calendar .left {
      float: left;
      width: 370px; } }
  @media only screen and (max-width: 1201px) {
    .calendar .right {
      float: none;
      width: 100%;
      padding-top: 20px; } }
  @media only screen and (min-width: 1200px) {
    .calendar .right {
      float: right;
      width: calc(100% - 370px); } }
  .calendar .DayPicker, .calendar .DayPicker-Month {
    font-family: 'PT Sans';
    font-size: 22px; }
    @media only screen and (max-width: 1201px) {
      .calendar .DayPicker, .calendar .DayPicker-Month {
        width: 80%;
        margin: 20px auto; } }
    @media only screen and (min-width: 1200px) {
      .calendar .DayPicker, .calendar .DayPicker-Month {
        width: 370px; } }
  .calendar .DayPicker-Caption {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 1rem; }
    .calendar .DayPicker-Caption div {
      font-size: 26px; }
  .calendar .DayPicker-Weekdays {
    border-top: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
    text-transform: uppercase;
    font-size: 26px; }
  .calendar .DayPicker-Weekday {
    padding: 15px 0.5rem; }
    .calendar .DayPicker-Weekday:last-child, .calendar .DayPicker-Weekday:nth-last-child(2) {
      color: #8c5555; }
  .calendar .DayPicker-Day {
    font-size: 26px; }
  .calendar .DayPicker-Day--selected, .calendar .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    border: none;
    border-radius: 0;
    background: linear-gradient(to bottom right, #ffffff 0%, #c00404 25%, #c00404 100%); }
  .calendar .DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    border-radius: 0;
    background-color: #7b7b7b; }
  .calendar .Events {
    width: 100%;
    font-family: 'PT Sans'; }
    @media only screen and (min-width: 1200px) {
      .calendar .Events {
        padding-left: 45px; } }
  .calendar .Events-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 5px;
    position: relative; }
    .calendar .Events-row:hover .Events-spacer:after {
      left: 0;
      border-left-color: #c00404; }
    .calendar .Events-row:hover .Events-info, .calendar .Events-row:hover .Events-button {
      background-color: #ffffff; }
    .calendar .Events-row.Events-Orthos .Events-date {
      background-color: #7b7b7b; }
    .calendar .Events-row.Events-Orthos:hover .Events-spacer:after {
      left: 0;
      border-left-color: #7b7b7b; }
  .calendar .Events-date {
    display: table-cell;
    height: 95px;
    background-color: #c00404;
    vertical-align: middle;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .calendar .Events-date {
        width: 40px;
        font-size: 20px; } }
    @media only screen and (min-width: 769px) and (max-width: 991px) {
      .calendar .Events-date {
        width: 70px;
        font-size: 22px; } }
    @media only screen and (min-width: 993px) and (max-width: 1199px) {
      .calendar .Events-date {
        width: 100px;
        font-size: 26px; } }
    @media only screen and (min-width: 1200px) {
      .calendar .Events-date {
        width: 100px;
        font-size: 26px; } }
  .calendar .Events-spacer {
    display: table-cell;
    position: relative;
    height: 95px; }
    @media only screen and (max-width: 768px) {
      .calendar .Events-spacer {
        width: 5px; } }
    @media only screen and (min-width: 769px) and (max-width: 991px) {
      .calendar .Events-spacer {
        width: 15px; } }
    @media only screen and (min-width: 993px) and (max-width: 1199px) {
      .calendar .Events-spacer {
        width: 25px; } }
    @media only screen and (min-width: 1200px) {
      .calendar .Events-spacer {
        width: 25px; } }
    .calendar .Events-spacer:after {
      position: absolute;
      content: '';
      border: 23px solid transparent;
      left: -48px;
      top: 50%;
      margin-top: -24px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      transform: scaleY(0.5); }
      @media only screen and (max-width: 769px) {
        .calendar .Events-spacer:after {
          display: none; } }
  .calendar .Events-info {
    position: absolute;
    display: table-cell;
    padding: 8px;
    height: 95px;
    background-color: #dddddd;
    color: #000;
    text-align: left;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      .calendar .Events-info {
        width: calc(100% - 145px); } }
    @media only screen and (min-width: 769px) and (max-width: 991px) {
      .calendar .Events-info {
        width: calc(100% - 270px); } }
    @media only screen and (min-width: 993px) and (max-width: 1199px) {
      .calendar .Events-info {
        width: calc(100% - 290px); } }
    @media only screen and (min-width: 1200px) {
      .calendar .Events-info {
        width: calc(100% - 290px); } }
    .calendar .Events-info a {
      color: #000; }
    .calendar .Events-info .Events-info-title {
      font-family: "PT Sans";
      text-transform: uppercase;
      font-weight: 600;
      font-stretch: extra-condensed;
      line-height: 1; }
      @media only screen and (max-width: 768px) {
        .calendar .Events-info .Events-info-title {
          font-size: 18px; } }
      @media only screen and (min-width: 769px) and (max-width: 991px) {
        .calendar .Events-info .Events-info-title {
          font-size: 20px; } }
      @media only screen and (min-width: 993px) and (max-width: 1199px) {
        .calendar .Events-info .Events-info-title {
          font-size: 20px; } }
      @media only screen and (min-width: 1200px) {
        .calendar .Events-info .Events-info-title {
          font-size: 20px; } }
    .calendar .Events-info .Events-info-lid {
      margin-top: 5px;
      line-height: 0.95; }
    .calendar .Events-info .Events-info-content {
      max-height: 75px;
      overflow: hidden; }
  .calendar .Events-button {
    display: table-cell;
    width: 190px;
    text-align: center;
    vertical-align: middle;
    background-color: #dddddd; }
    @media only screen and (max-width: 769px) {
      .calendar .Events-button {
        width: 100px; } }
    .calendar .Events-button button {
      width: 160px;
      height: 40px;
      background-color: #c00404;
      font-family: "PT Sans";
      font-size: 22px;
      color: #fff;
      border: none; }
      @media only screen and (max-width: 769px) {
        .calendar .Events-button button {
          width: 92px;
          height: 34px;
          font-size: 16px; } }

.contacts {
  background-image: url("/pctrs/contacts_bgr.png");
  background-repeat: no-repeat;
  background-position: right 4% bottom 6%;
  background-size: 42% auto; }
  .contacts h1 {
    background-image: url("/pctrs/h1_contacts.png"); }
  .contacts .content {
    width: 100%;
    padding: 0 30px; }
  .contacts .left, .contacts .right {
    font-family: "PT Sans Narrow"; }
    @media only screen and (max-width: 769px) {
      .contacts .left, .contacts .right {
        float: none; } }
    @media only screen and (min-width: 768px) {
      .contacts .left, .contacts .right {
        float: left; } }
  .contacts .left {
    font-size: 24px;
    line-height: 1.2;
    padding-top: 40px; }
    @media only screen and (max-width: 993px) {
      .contacts .left {
        width: 100%; } }
    @media only screen and (min-width: 992px) {
      .contacts .left {
        width: 45%; } }
    .contacts .left .head {
      font-size: 28px;
      font-weight: 700; }
  .contacts .right {
    display: table;
    background: url("/pctrs/contacts_email_bgr.png") left top no-repeat;
    padding: 40px 0 90px 130px; }
    @media only screen and (max-width: 993px) {
      .contacts .right {
        width: 100%; } }
    @media only screen and (min-width: 992px) {
      .contacts .right {
        width: 55%; } }
    @media only screen and (max-width: 769px) {
      .contacts .right {
        padding: 40px 0 90px 20px; } }
  .contacts .form-email, .contacts .form-submit {
    display: table-cell;
    vertical-align: middle;
    min-height: 50px; }
  .contacts .form-email {
    width: 65%;
    padding-right: 15px; }
    .contacts .form-email input {
      width: 90%;
      background: none;
      border: none;
      border-bottom: solid 1px #fff;
      padding: 10px 10px 10px 15px;
      font-family: Roboto;
      font-size: 20px;
      color: #fff; }
  .contacts .form-submit {
    width: 35%;
    text-align: center; }
    .contacts .form-submit button {
      border: none;
      padding: 10px 25px;
      font: 500 22px 'PT Sans Narrow';
      text-transform: uppercase;
      color: #fff;
      background-color: #be0503;
      outline: none; }
      .contacts .form-submit button:disabled {
        background-color: #dadada; }

header {
  text-align: center;
  padding-top: 25px; }
  header a {
    display: block;
    margin: 0 auto; }
  header .logo {
    margin: 0 auto; }
    header .logo img {
      max-width: 100%;
      height: auto; }

.Header-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 570px; }
  @media only screen and (max-width: 769px) {
    .Header-menu {
      display: none; } }
  .Header-menu a {
    display: block;
    flex: 1 1 auto;
    position: relative;
    padding: 0;
    transition: width 0.2s ease-out; }
    .Header-menu a .text, .Header-menu a .img-animated {
      position: absolute;
      opacity: 0;
      transition: opacity 0.2s ease-in; }
    .Header-menu a.About {
      width: 179px; }
      .Header-menu a.About:hover {
        width: 224px; }
        .Header-menu a.About:hover .text, .Header-menu a.About:hover .img1, .Header-menu a.About:hover .img2, .Header-menu a.About:hover .img3 {
          opacity: 1; }
        .Header-menu a.About:hover .img1 {
          animation: shake-blink1 0.82s infinite ease-out; }
        .Header-menu a.About:hover .img2 {
          animation: shake-blink1 0.5s infinite ease-in; }
        .Header-menu a.About:hover .img3 {
          animation: blink1 1s infinite linear; }
      .Header-menu a.About .text {
        top: 0px;
        left: -40px; }
      .Header-menu a.About .img1 {
        top: 95px;
        left: -32px; }
      .Header-menu a.About .img2 {
        top: 91px;
        right: -22px; }
      .Header-menu a.About .img3 {
        top: 101px;
        left: 121px; }
    .Header-menu a.Seminars {
      width: 166px; }
      .Header-menu a.Seminars:hover {
        width: 208px; }
        .Header-menu a.Seminars:hover .text, .Header-menu a.Seminars:hover .img1, .Header-menu a.Seminars:hover .img2, .Header-menu a.Seminars:hover .img3 {
          opacity: 1; }
        .Header-menu a.Seminars:hover .img1 {
          animation: blink-enlarge 0.82s infinite ease-out; }
        .Header-menu a.Seminars:hover .img2 {
          animation: blink-enlarge 0.62s infinite ease-in; }
      .Header-menu a.Seminars .text {
        top: -30px;
        left: -10px; }
      .Header-menu a.Seminars .img1 {
        top: 27px;
        left: -48px; }
      .Header-menu a.Seminars .img2 {
        top: 27px;
        right: -32px; }
    .Header-menu a.Calendar {
      width: 160px; }
      .Header-menu a.Calendar:hover {
        width: 200px; }
        .Header-menu a.Calendar:hover .text, .Header-menu a.Calendar:hover .img1, .Header-menu a.Calendar:hover .img2, .Header-menu a.Calendar:hover .img3 {
          opacity: 1; }
        .Header-menu a.Calendar:hover .img1 {
          animation: Seminars-img1 0.82s infinite ease-out; }
        .Header-menu a.Calendar:hover .img2 {
          animation: Seminars-img2 1s infinite ease-out; }
        .Header-menu a.Calendar:hover .img3 {
          animation: Seminars-img3 0.72s infinite ease-out; }
      .Header-menu a.Calendar .text {
        top: -75px;
        left: -60px; }
      .Header-menu a.Calendar .img1 {
        top: -10px;
        right: 10px; }
      .Header-menu a.Calendar .img2 {
        top: 42px;
        right: 32px; }
      .Header-menu a.Calendar .img3 {
        top: 97px;
        right: 22px; }
    .Header-menu a.Photo {
      width: 145px; }
      .Header-menu a.Photo:hover {
        width: 182px; }
        .Header-menu a.Photo:hover .text, .Header-menu a.Photo:hover .img1, .Header-menu a.Photo:hover .img2, .Header-menu a.Photo:hover .img3, .Header-menu a.Photo:hover .img4, .Header-menu a.Photo:hover .img5, .Header-menu a.Photo:hover .img6 {
          opacity: 1; }
        .Header-menu a.Photo:hover .img1 {
          animation: shake-blink1 0.42s infinite ease-out; }
        .Header-menu a.Photo:hover .img2 {
          animation: Photos-img2 0.62s infinite ease-out; }
        .Header-menu a.Photo:hover .img3 {
          animation: Photos-img3 0.62s infinite ease-in; }
        .Header-menu a.Photo:hover .img4 {
          animation: Photos-img4 0.62s infinite ease-in; }
        .Header-menu a.Photo:hover .img5 {
          animation: Photos-img5 0.58s infinite ease-out; }
        .Header-menu a.Photo:hover .img6 {
          animation: Photos-img6 0.58s infinite ease-out; }
      .Header-menu a.Photo .text {
        top: -25px;
        left: -80px; }
      .Header-menu a.Photo .img1 {
        top: 156px;
        right: 80px; }
      .Header-menu a.Photo .img2 {
        top: 262px;
        left: 40px; }
      .Header-menu a.Photo .img3 {
        top: 282px;
        left: 10px; }
      .Header-menu a.Photo .img4 {
        top: 302px;
        left: 40px; }
      .Header-menu a.Photo .img5 {
        top: 322px;
        right: 40px; }
      .Header-menu a.Photo .img6 {
        top: 302px;
        right: 45px; }
    .Header-menu a.Contacts {
      width: 148px; }
      .Header-menu a.Contacts:hover {
        width: 186px; }
        .Header-menu a.Contacts:hover .text, .Header-menu a.Contacts:hover .img1 {
          opacity: 1; }
        .Header-menu a.Contacts:hover .img1 {
          animation: blink-enlarge 0.62s infinite ease-out; }
      .Header-menu a.Contacts .text {
        top: -15px;
        right: -150px;
        z-index: 2; }
      .Header-menu a.Contacts .img1 {
        top: -55px;
        left: -35px;
        z-index: 1; }
    .Header-menu a img.main {
      width: 100%;
      height: auto; }

@keyframes shake-blink1 {
  10%, 90% {
    transform: translate3d(0px, 0, 0);
    opacity: 1; }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
    opacity: 0.8; }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
    opacity: 1; }
  40%, 60% {
    transform: translate3d(3px, 0, 0);
    opacity: 0.8; } }

@keyframes blink1 {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes blink-enlarge {
  from {
    opacity: 1;
    transform: scale(1, 1); }
  70% {
    opacity: 1;
    transform: scale(1.4, 1.4); }
  to {
    opacity: 0;
    transform: scale(1.5, 1.5); } }

@keyframes Seminars-img1 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(50px, -50px); } }

@keyframes Seminars-img2 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(-10px, -80px); } }

@keyframes Seminars-img3 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(50px, 0px); } }

@keyframes Photos-img2 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(-80px, -10px); } }

@keyframes Photos-img3 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(-80px, 40px); } }

@keyframes Photos-img4 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(-50px, 100px); } }

@keyframes Photos-img5 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(50px, 40px); } }

@keyframes Photos-img6 {
  from {
    opacity: 1;
    transform: translate(0, 0); }
  to {
    opacity: 0;
    transform: translate(50px, 10px); } }

.photo {
  position: relative; }
  .photo .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #fff;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center; }
  .photo h1 {
    background-image: url("/pctrs/h1_photo.png"); }
  .photo .content {
    position: relative;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 769px) {
      .photo .content {
        margin-bottom: 120px; } }
  .photo .seminar-item {
    position: relative;
    overflow: hidden;
    min-height: 275px;
    margin: 0 5px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    font-family: "PT Sans Narrow";
    color: #fff; }
    .photo .seminar-item .info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 130px;
      transform: translateY(66px);
      transition: transform 0.5s ease;
      z-index: 1; }
    .photo .seminar-item .date-title {
      font-size: 20px;
      line-height: 0.9;
      height: 65px;
      overflow: hidden;
      padding: 5px 20px; }
    .photo .seminar-item button {
      border: none;
      background-color: #c00404;
      width: 100%;
      height: 65px;
      overflow: hidden;
      padding: 20px;
      text-decoration: underline;
      font-size: 22px;
      text-transform: uppercase;
      font-family: "PT Sans Narrow";
      color: #fff;
      cursor: pointer; }
    .photo .seminar-item .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 1;
      transition: opacity 0.5s ease; }
    .photo .seminar-item:hover .info {
      transform: translateY(0); }
    .photo .seminar-item:hover .overlay {
      opacity: 0; }
  .photo .slick-slider {
    height: 275px; }
  .photo .find-yourself {
    position: absolute;
    right: -40px;
    bottom: -140px; }

.seminars {
  position: relative; }
  .seminars .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #fff;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center; }
  .seminars h1 {
    background-image: url("/pctrs/h1_seminars.png"); }
  .seminars .content {
    width: 80%;
    margin: 0 auto; }
  @media only screen and (max-width: 769px) {
    .seminars .Seminars-slider {
      margin-top: 40px; } }
  .seminars .seminar-item {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin: 0 15px;
    padding: 20px 15px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left; }
    .seminars .seminar-item .date {
      position: absolute;
      left: 15px;
      top: 10px;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: -2px;
      color: #c00404;
      z-index: 1; }
    .seminars .seminar-item h2 {
      position: absolute;
      left: 15px;
      right: 15px;
      top: 20px;
      text-indent: 110px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      height: 85px;
      overflow: hidden;
      z-index: 1; }
    .seminars .seminar-item .white-line {
      position: absolute;
      left: 15px;
      top: 120px;
      width: 50%;
      height: 1px;
      border-bottom: solid 5px #fff;
      z-index: 1;
      transform: translate3d(0, 60px, 0);
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s; }
    .seminars .seminar-item .more {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      padding: 140px 15px 0 15px;
      background: rgba(0, 0, 0, 0.7);
      z-index: 0;
      transform: translate3d(0, 126px, 0);
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s; }
    .seminars .seminar-item .more-content {
      heigth: 130px;
      overflow: hidden;
      font-weight: 300; }
      .seminars .seminar-item .more-content p {
        margin-bottom: 8px; }
    .seminars .seminar-item:hover .white-line {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    .seminars .seminar-item:hover .more {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
  .seminars .button-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 17px;
    text-align: center; }
    .seminars .button-wrapper button, .seminars .button-wrapper input[type=button] {
      position: relative;
      display: inline-block;
      border: none;
      background: #c00404;
      padding: 10px 15px;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      outline: none;
      cursor: pointer;
      z-index: 1; }
      .seminars .button-wrapper button:before, .seminars .button-wrapper input[type=button]:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #c00404;
        z-index: 0;
        opacity: 0;
        -webkit-transform: scale3d(0.7, 1, 1);
        transform: scale3d(0.4, 1, 1);
        -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
        transition: transform 0.6s, opacity 0.6s;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
      .seminars .button-wrapper button:hover, .seminars .button-wrapper input[type=button]:hover {
        background: transparent; }
        .seminars .button-wrapper button:hover:before, .seminars .button-wrapper input[type=button]:hover:before {
          background: #c00404;
          opacity: 1;
          z-index: -1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.ReactModal {
  position: absolute;
  top: 40px;
  bottom: 40px;
  background-color: #ffffff;
  width: 90%;
  max-width: 900px;
  padding: 25px;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden; }
  @media only screen and (max-width: 993px) {
    .ReactModal {
      left: 5%; } }
  @media only screen and (min-width: 992px) {
    .ReactModal {
      left: 50%;
      margin-left: -450px; } }

.ReactModal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%; }

.ModalContent {
  position: relative;
  color: #000;
  height: 100%;
  overflow: hidden; }
  .ModalContent .slick-track {
    transition: transform 600ms ease; }

.ModalContent-close {
  position: absolute;
  top: -8px;
  right: -2px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  background: transparent; }

.ModalContent-wrapper {
  position: relative; }

.ModalContent-content {
  position: relative;
  height: 500px;
  overflow-y: auto; }
  .ModalContent-content .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin: -100px 0 0 -150px;
    color: #000000;
    z-index: 1;
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center; }

.ModalContent-header {
  width: 100%;
  background-color: #e9e9e9;
  padding: 25px 35px;
  font: 700 30px/1.1 'PT Sans Narrow';
  text-transform: uppercase;
  display: table; }
  .ModalContent-header .left {
    display: table-cell;
    width: 70%;
    vertical-align: middle; }
  .ModalContent-header .right {
    display: table-cell;
    width: 30%;
    text-align: center;
    vertical-align: middle; }
  .ModalContent-header .date {
    display: inline-block;
    margin-right: 10px;
    font-size: 48px;
    color: #be0503; }
  .ModalContent-header button {
    border: none;
    min-width: 160px;
    padding: 12px 25px;
    font: 500 20px 'PT Sans';
    color: #fff;
    background-color: #be0503;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }

.ModalContent-info {
  padding: 25px 0; }
  @media only screen and (max-width: 769px) {
    .ModalContent-info .main-image {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .ModalContent-info .main-image {
      float: right;
      margin: 0 0 15px 15px; } }
  .ModalContent-info .item-row {
    margin-bottom: 15px; }
    .ModalContent-info .item-row label {
      display: inline-block;
      margin-right: 10px;
      font: 700 30px 'PT Sans Narrow';
      text-transform: uppercase; }
      .ModalContent-info .item-row label.wrapit {
        display: block; }

.ModalContent-form {
  text-align: center;
  font: 400 18px/1.1 'PT Sans Narrow'; }
  .ModalContent-form .form-row {
    width: 405px;
    margin: 0 auto 15px auto;
    text-align: left; }
  .ModalContent-form label {
    display: block;
    margin-bottom: 5px; }
  .ModalContent-form input[type=text], .ModalContent-form input[type=email] {
    width: 100%;
    padding: 18px 15px;
    color: #777777;
    background-color: #e9e9e9;
    border: solid 1px #dadada;
    font: 400 18px 'Roboto'; }
  .ModalContent-form .check-box {
    overflow: auto; }
    .ModalContent-form .check-box input[type=checkbox] {
      float: left; }
    .ModalContent-form .check-box label {
      display: inline-block;
      float: left;
      width: 80%;
      margin-left: 10px; }
  .ModalContent-form button.submit {
    display: inline-block;
    border: none;
    min-width: 160px;
    padding: 12px 25px;
    margin: 0 auto;
    font: 500 20px 'PT Sans';
    color: #fff;
    background-color: #be0503;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
    .ModalContent-form button.submit:disabled {
      background-color: #dadada; }
  .ModalContent-form .has-error {
    border: solid 1px rgba(255, 0, 0, 0.2) !important; }
  .ModalContent-form .formWrapper {
    position: relative;
    padding: 25px; }
    .ModalContent-form .formWrapper.alerted .overlay {
      display: block; }
    .ModalContent-form .formWrapper .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      display: none; }
    .ModalContent-form .formWrapper .loader, .ModalContent-form .formWrapper .alert {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100px;
      height: 100px;
      margin: -50px 0 0 -50px;
      color: #ffffff;
      z-index: 1;
      font-size: 32px; }
    .ModalContent-form .formWrapper .alert {
      font-size: 16px;
      min-width: 350px;
      height: auto;
      margin: -100px 0 0 -165px;
      font-family: 'Roboto'; }
      .ModalContent-form .formWrapper .alert .alert-wrapper {
        position: relative; }
      .ModalContent-form .formWrapper .alert .alert-close {
        position: absolute;
        right: -10px;
        top: -10px;
        border: none;
        background: none;
        font: 700 20px 'PT Sans';
        transform: scale(1, 0.8);
        color: #662222; }
      .ModalContent-form .formWrapper .alert h4 {
        margin: 0 0 10px 0;
        font-weight: bold; }
      .ModalContent-form .formWrapper .alert .msg, .ModalContent-form .formWrapper .alert .err {
        text-align: left; }
      .ModalContent-form .formWrapper .alert .err {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.4;
        list-style: circle;
        padding-left: 15px; }
        .ModalContent-form .formWrapper .alert .err strong {
          font-weight: 700; }

.ModalSubscribe-content {
  position: absolute;
  width: 80%;
  padding: 50px 15px;
  left: 10%;
  top: 50%;
  transform: translate(0, -125px); }
  .ModalSubscribe-content .loader {
    font-family: 'PT Sans Narrow';
    font-size: 34px;
    text-align: center; }
  .ModalSubscribe-content .alert-wrapper {
    position: relative; }
  .ModalSubscribe-content .alert-close {
    position: absolute;
    right: -10px;
    top: -10px;
    border: none;
    background: none;
    font: 700 20px 'PT Sans';
    transform: scale(1, 0.8);
    color: #662222; }
  .ModalSubscribe-content h4 {
    margin: 0 0 10px 0;
    font-weight: bold; }
  .ModalSubscribe-content .msg, .ModalSubscribe-content .err {
    text-align: left; }
  .ModalSubscribe-content .err {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    list-style: circle;
    padding-left: 15px; }
    .ModalSubscribe-content .err strong {
      font-weight: 700; }
