$xs-breakpoint: 480px;
$sm-breakpoint: 768px;

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}

.invisible {
  visibility: hidden;
}
.full-width {
  width: 100%;
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.clearfix {
  @include clearfix
}

.hidden-xs {
  @media (max-width: $xs-breakpoint) {
    display: none;
  }
  @media (min-width: $xs-breakpoint + 1px) {
    display: block;
  }
}
.visible-xs {
  @media (max-width: $xs-breakpoint) {
    display: block;
  }
  @media (min-width: $xs-breakpoint + 1px) {
    display: none;
  }
}
.visible-sm {
  @media (max-width: $sm-breakpoint) {
    display: block;
  }
  @media (min-width: $sm-breakpoint + 1px) {
    display: none;
  }
}
